<ul><b>Article ID: </b><%= @article.id %></ul>
<ul><b>Article Title: </b><%= @article.title %></ul>
<ul><b>Article URL: </b><a href="<%= @article.url %>"><%= @article.title %></a></ul>
<ul><b>Article Description: </b><%= @article.description %></ul>
<ul>
  <a href="/">Back</a>
</ul>
